/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

/* Set widths on the navbar form inputs since otherwise they're 100% wide */
.navbar-form input[type="text"],
.navbar-form input[type="password"] {
  width: 180px;
}

.mod-panel {
	height: 100%;
	width: 15%;
	display: inline;
	float: left;
	margin-top: 5px;
	margin-right: 10%;
	position: fixed;
}

.mod-panel-item {
	height: auto;
	width: auto;
	padding: 5px;
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
}

.mod-panel-item:first-child {
	border: 1px solid black;
}

.mod-container {
	height: auto;
	width: auto;
}

.mod-block {
	width: 75%;
	border: 1px solid black;
	margin-top: 5px;
	padding: 5px;
	float: right;
	/*display: inline;*/
}

.mod-block:first-child {
}

.mod-block .mod-name {
	font-size: 20px;
}

.mod-block .mod-desc {
	font-size: 16px;
}

.mod-block .mod-detail {
	font-size: 12px;
}