/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

/* Set widths on the navbar form inputs since otherwise they're 100% wide */
.navbar-form input[type="text"],
.navbar-form input[type="password"] {
  width: 180px;
}


.mod-panel {
	height: 100%;
	width: 16.4%;
	display: inline;
	float: left;
	margin-top: 5px;
	margin-right: 10%;
	position: fixed;
}

.mod-panel-item {
	height: auto;
	width: auto;
	padding: 5px;
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
}

.mod-panel-item-selected {
	/*height: auto;
	width: auto;
	padding: 5px;
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	background-color: #6199bd;*/
}

.mod-panel-item:first-child {
	border: 1px solid black;
	padding: 0px;
	float: center;
}

.mod-p {

}

.mod-p-selected {
	/*background-color: #6199bd;*/
}

.mod-container {
	height: auto;
	width: 75%;
	float: right;
	padding: 5px;
}

.mod-block {
	border: 1px solid black;
	margin-bottom: 5px;
	padding: 5px;
}

.mod-block:first-child {
	/*position: fixed;*/
}

.mod-block .mod-name {
	font-size: 20px;
}

.mod-block .mod-desc {
	font-size: 16px;
}

.mod-block .mod-detail {
	font-size: 12px;
}

.mod-compare-block {
	border: 1px solid black;
	padding: 5px;
}

.detail-left {
	float: left;
}

.detail-right {
	float: right;
}