<div class="container">
	<form ng-submit="post_mod()">
		<legend>~Post a Node Module~</legend>
		<fieldset>
			<div class="form-group">
				<label for="name_label">Module name</label>
				<input type="text" class="form-control" id="name_label" placeholder="Enter module name" ng-model="mod_name" maxlength="24">
			</div>
			<div class="form-group">
				<label for="id_label">Module description</label>
				<input type="text" class="form-control" id="id_label" placeholder="Enter module description" ng-model="mod_desc" maxlength="150">
			</div>
			<button type="submit" class="btn btn-default">Submit</button>
		</fieldset>
	</form>
	<ul>
		<div class="mod-block" ng-repeat="mod in mods">
			<p class="mod-p">{{mod.mod_name}} - {{mod.mod_desc}}</p>
		</div>
	</ul>
</div>